body {
    background-image: url('../../assets/images/background_2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 }

 .radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 }

.container-form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;   
    opacity: 85%;
    border-radius: 1rem;
    
}

h2{
    text-align: start;
    margin: 10px;
    font-size: xx-large;
}

form {
    padding: 10px;
}

.form-input {
    margin: 10px;
    height: 50px;
    border-radius: 0.9em;
    text-align: start;
    padding-left: 10px;

}

.label-by-qtd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.format-label{
    display: flex;
    flex-direction: column;
}

.format-label input {
    width: 30em;
}


.form-button {
    height: 50px;
    margin: 10px 50px;
}

@media only screen and (max-width: 1280px) {

    .info-label {
        font-size: smaller;
    }


    .format-label input {
        width: 10em;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     }
}

@media only screen and (max-width: 720px) {

    body {
        background-image: url('../../assets/images/background_mobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }

    h2{
        text-align: start;
        margin: 10px;
        font-size: medium;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
     }

    .label-by-qtd {
        display: flex;
        flex-direction: column;
        
    }

    .format-label input {
        width: 95%;
    }
    
    .info-label {
        font-size: smaller;
    }

    .format-label{
        display: flex;
        flex-direction: column;
    }

 }